/*
Colors used
Background Color (Red): #bb1111
Text Color (Blue): #3339db
Button Background (Yellow): #f0ff4a
Font: font-family: 'Quicksand', sans-serif;
*/
/* /////STYLES///// */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=RocknRoll+One&display=swap');

:root {
  --bgcolor: #bb1111;
  --textcolor: #3339db;
  --h1color: #ffffff;
  --buttonbg: #f0ff4a;
  --font: 'Quicksand', sans-serif;
}

body {
  background-color: var(--bgcolor);
  color: var(--h1color);
  font-family: var(--font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
  margin: 20px;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

.button-class {
  border: none;
  width: 95%;
  padding: 12px 28px;
  font-family: inherit;
  color: var(--textcolor);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--buttonbg);
  border: 3px solid var(--textcolor);
  border-color: var(--textcolor);
}

/* ///// MODAL ///// */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
  color: #000000
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-close {
  float: none;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

.modal img {
  margin-bottom: 0;
  width: 30%
}
