/*
Colors used
Background Color (Sand): #f2ebd8
Text Color (Dark Blue): #2f2945;
*/
/* /////STYLES///// */
:root {
  --bgcolor: #f2ebd8;
  --textcolor: #2f2945;
  --font: 'Quicksand', sans-serif;
}

body {
  background-color: var(--bgcolor);
  color: var(--textcolor);
  font-family: var(--font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
  margin: 20px;
}
