/*
Colors used
Background Color (Sand): #f2ebd8
Text Color (Dark Blue): #2f2945;
Font: font-family: 'Quicksand', sans-serif;
*/
/* /////STYLES///// */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=RocknRoll+One&display=swap');

:root {
  --bgcolor: #f2ebd8;
  --textcolor: #2f2945;
  --font: 'Quicksand', sans-serif;
}

body {
  background-color: var(--bgcolor);
  color: var(--textcolor);
  font-family: var(--font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
  margin: 20px;
}

.button-class {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
